<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Gombahatározó</title>
<script>

var jsons = [];

fetch("Species/1.json")
  .then(response => response.json())
  .then(json => jsons.push(json));
</script>
</head>

<body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
  <h1>{{ title }}</h1>
  
  <div>
		<div>
			<span>Név:</span>
			<input type="text" v-model="nameFilter" @change="$emit('filter-changed')" />
		</div>
		<div>
			<span>Kalap:</span>
			<input type="text" v-model="capFilter" />
		</div>
		<div>
			<span>Lemezek:</span>
			<input type="text" v-model="gillsFilter" />
		</div>
		<div>
			<span>Tönk:</span>
			<input type="text" v-model="stalkFilter" />
		</div>
		<div>
			<span>Hús:</span>
			<input type="text" v-model="fleshFilter" />
		</div>
		<div>
			<span>Élőhely:</span>
			<input type="text" v-model="presenceFilter" />
		</div>
		<div>
			<span>Csak gallérral vagy gyűrűvel rendelkezők:</span>
			<input type="checkbox" v-model="ringOnlyFilter" />
		</div>
		<div>
			<span>Csak bocskorral rendelkezők:</span>
			<input type="checkbox" v-model="sackOnlyFilter" />
		</div>
  </div>

  <h2>{{ resultCount }} találat:</h2>

  <ul>
	<li v-for="species in speciesListFiltered" :key="species.ID">
	<a v-bind:href="species.Url" target="_blank">{{ species.NameHU }}</a>
	</li>
  </ul>

</div>

<script type="module" src="./startup.js"></script>

</body>

</html>